{% extends 'dashboard_layout.html' %}
{% block content %}
    <h1>{{ title }}</h1>    
<div class="container" id="main-c">
    <div class="row justify-content-md-center" id="r-1">
         <div class="col-2" id="c-1"><span class="badge badge-success"> <small>Wall Data</small></span>  
            <form
        class="form-horizontal" method="POST" action="{{ url_for('index.wall_result') }}" role="form">
        {{ wall_form.csrf_token }}
            <div class="form-group">{{ wall_form.tag.label }}{{ wall_form.tag(class_="form-control") }}</div>
            <div class="form-group">{{ wall_form.length.label }}{{  wall_form.length(class_="form-control") }}</div>
            <div class="form-group">{{ wall_form.height.label }}{{ wall_form.height(class_="form-control") }}</div>
            <div class="form-group">{{ wall_form.category.label }}: {{ wall_form.category() }}</div>
       
               
       
        </div id="c-1">
<div class="col-2"><span class="badge badge-primary"><small>Reinforcements</small></span>
       
<div class="form-group">{{ wall_form.v_bar_type.label }}{{ wall_form.v_bar_type(class_="form-control") }}</div>
<div class="form-group">{{ wall_form.h_bar_type.label }}{{ wall_form.h_bar_type(class_="form-control") }}</div>
<div class="form-group">{{ wall_form.v_bar_spacing.label }}{{ wall_form.v_bar_spacing(class_="form-control") }}</div>
<div class="form-group">{{ wall_form.h_bar_spacing.label }}{{ wall_form.h_bar_spacing(class_="form-control") }}</div>
 
<button type="submit" class="btn btn-default">Submit</button>      
</form>

</div>
<div class="col-4"><span class="badge badge-primary"><small>Components</small></span>
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                                    <small>Add Column/Stiffener</small>
                                  </button>
                      </li>
                      <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addbeamModalCenter">
                                    <small>Add Beam/Belt</small>
                                  </button>
                          </li>
                      <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                                    <small>Add Opening</small>
                                  </button>
                      </li>
                     
                    </ul>
                </div>
            </nav>
          </div>
    <!-- Button trigger modal -->

  
  <!-- Opening Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add Windows Doors Arches and Cutouts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form class="form-horizontal" method="POST" action="{{ url_for('index.wall_opening') }}" role="form"> 
                {{ opening_form.csrf_token }}  
            <div class="form-group">{{ opening_form.tag.label }}{{ opening_form.tag(class_="form-control") }}</div>
            <div class="form-group">{{ opening_form.wall_tag.label }}{{ opening_form.wall_tag(class_="form-control") }}</div>
            <div class="form-group">{{opening_form.width.label }}{{ opening_form.width(class_="form-control") }}</div>
            <div class="form-group">{{ opening_form.height.label }}{{ opening_form.height(class_="form-control") }}</div>
            <div class="form-group">{{ opening_form.amount.label }}{{ opening_form.amount(class_="form-control") }}</div>
            <div class="form-group">{{ opening_form.category.label }}: {{ opening_form.category() }}</div>
        </div>
        <button type="submit" class="btn btn-default">Add</button>      
    </form>
    


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>


  <!-- Column Modal -->
  <div class="modal fade" bd-example-modal-lg id="addbeamModalCenter" tabindex="-1" role="dialog" aria-labelledby="addbeamModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addmeamModalCenterTitle">Add Beam or BeltCourse</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form class="form-horizontal" method="POST" action="{{ url_for('index.beam_result') }}" role="form"> 
                    {{ beam_form.csrf_token }}  
                <div class="row">
                  <div class="col-3" id="col1">
                <div class="form-group">{{ beam_form.tag.label }}{{ beam_form.tag(class_="form-control") }}</div>
                <div class="form-group">{{ beam_form.wall_tag.label }}{{ beam_form.wall_tag(class_="form-control") }}</div>
                <div class="form-group">{{ beam_form.category.label }}: {{ beam_form.category() }}</div>
                </div>
                <div class="col-3" id="col2">
                <div class="form-group">{{beam_form.width.label }}{{ beam_form.width(class_="form-control") }}</div>
                <div class="form-group">{{ beam_form.depth.label }}{{ beam_form.depth(class_="form-control") }}</div>
                <div class="form-group">{{ beam_form.length.label }}{{ beam_form.length(class_="form-control") }}</div>
                <div class="form-group">{{ beam_form.amount.label }}{{ beam_form.amount(class_="form-control") }}</div>
                </div>
                <div class="col-3" id="col3">
                    <div class="form-group">{{beam_form.top_bar_type.label }}{{ beam_form.top_bar_type(class_="form-control") }}</div>
                    <div class="form-group">{{ beam_form.mid_bar_type.label }}{{ beam_form.mid_bar_type(class_="form-control") }}</div>
                    <div class="form-group">{{ beam_form.bot_bar_type.label }}{{ beam_form.bot_bar_type(class_="form-control") }}</div>
                    <div class="form-group">{{ beam_form.stir_bar_type.label }}{{ beam_form.stir_bar_type(class_="form-control") }}</div>

                  </div>
                  <div class="col-3" id="col4">
                      <div class="form-group">{{beam_form.top_bar_amt.label }}{{ beam_form.top_bar_amt(class_="form-control") }}</div>
                      <div class="form-group">{{ beam_form.mid_bar_amt.label }}{{ beam_form.mid_bar_amt(class_="form-control") }}</div>
                      <div class="form-group">{{ beam_form.bot_bar_amt.label }}{{ beam_form.bot_bar_amt(class_="form-control") }}</div>
                      <div class="form-group">{{ beam_form.stir_spacing.label }}{{ beam_form.stir_spacing(class_="form-control") }}</div>
  
                    </div> 
               </div> 
            </div>
            <button type="submit" class="btn btn-default">Add</button>      
        </form>
        
    
    
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>
  <div class="top-pad">
        <table class="table" id="openings">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"><small>Tag</small></th>
                    <th scope="col"><small>WallTag</small></th>
                    <th scope="col"><small>Width</small></th>
                    <th scope="col"><small>Height</small></th>
                    <th scope="col"><small>Amt</small></th>
                  </tr>
                </thead>
                <tbody>
                    {% for opening in openings %}
                     <tr>
                        <td><small>{{ opening.tag }}</small></td>
                        <td><small>{{ opening.wall_tag }}</small></td>
                        <td><small>{{ opening.width }}</small></td>
                        <td><small>{{ opening.height }}</small></td>
                        <td><small>{{ opening.amount }}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

  
    </div>

<div class="col-3"><span class="badge badge-success"><small>Structurals</small></span>
  <div class="top-pad">
      <table class="table" id="beams_columns">
              <thead class="thead-light">
                <tr>
                  <th scope="col"><small>Tag</small></th>
                  <th scope="col"><small>WallTag</small></th>
                  <th scope="col"><small>Width</small></th>
                  <th scope="col"><small>Depth</small></th>
                  <th scope="col"><small>Length</small></th>
                  <th scope="col"><small>Amt</small></th>
                </tr>
              </thead>
              <tbody>
                  {% for beam in beams %}
                   <tr>
                      <td><small>{{ beam.tag }}</small></td>
                      <td><small>{{ beam.wall_tag }}</small></td>
                      <td><small>{{ beam.width }}</small></td>
                      <td><small>{{ beam.depth }}</small></td>
                      <td><small>{{ beam.length }}</small></td>
                      <td><small>{{ beam.amount }}</small></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
  </div>
  
</div>




<div class="col-1">Explorer</div>

</div>

</div>

{% endblock %}
